In [ ]:
import pandas as pd

In [ ]:
train=pd.read_csv('/content/Titanic_Train - Titanic_Train.csv')
test=pd.read_csv('/content/Titanic_Test - Titanic_Test (1).csv')

In [ ]:
train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
train['Age'].mean()

29.69911764705882

In [ ]:
train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
mean=train['Age'].mean()

In [ ]:
print(mean)

29.69911764705882

In [ ]:
train['Age'].fillna(mean,inplace=True)

In [ ]:
train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.000000,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.000000,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.000000,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.000000,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.000000,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.000000,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.000000,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,29.699118,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.000000,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.000000,0,0,370376,7.7500,NaN,Q

In [ ]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
cols=['Sex','Cabin','Embarked']
for i in cols:
  train[i]=le.fit_transform(train[i])

In [ ]:
train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,22.000000,1,0,A/5 21171,7.2500,147,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.000000,1,0,PC 17599,71.2833,81,0
2,3,1,3,"Heikkinen, Miss. Laina",0,26.000000,0,0,STON/O2. 3101282,7.9250,147,2
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.000000,1,0,113803,53.1000,55,2
4,5,0,3,"Allen, Mr. William Henry",1,35.000000,0,0,373450,8.0500,147,2
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",1,27.000000,0,0,211536,13.0000,147,2
887,888,1,1,"Graham, Miss. Margaret Edith",0,19.000000,0,0,112053,30.0000,30,2
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",0,29.699118,1,2,W./C. 6607,23.4500,147,2
889,890,1,1,"Behr, Mr. Karl Howell",1,26.000000,0,0,111369,30.0000,60,0
890,891,0,3,"Dooley, Mr. Patrick",1,32.000000,0,0,370376,7.7500,147,1

In [ ]:
train.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [ ]:
x=train.drop(['PassengerId','Survived','Name','Ticket'],axis=1)

In [ ]:
print(x)

     Pclass  Sex        Age  SibSp  Parch     Fare  Cabin  Embarked
0         3    1  22.000000      1      0   7.2500    147         2
1         1    0  38.000000      1      0  71.2833     81         0
2         3    0  26.000000      0      0   7.9250    147         2
3         1    0  35.000000      1      0  53.1000     55         2
4         3    1  35.000000      0      0   8.0500    147         2
..      ...  ...        ...    ...    ...      ...    ...       ...
886       2    1  27.000000      0      0  13.0000    147         2
887       1    0  19.000000      0      0  30.0000     30         2
888       3    0  29.699118      1      2  23.4500    147         2
889       1    1  26.000000      0      0  30.0000     60         0
890       3    1  32.000000      0      0   7.7500    147         1

[891 rows x 8 columns]

In [ ]:
y=train['Survived']

In [ ]:
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()

In [ ]:
model.fit(x,y)

GaussianNB()

In [ ]:
predictiion=model.predict(x)

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
accuracy=accuracy_score(y,predictiion)

In [ ]:
print(accuracy)

0.7912457912457912

In [ ]:
print(test)

     PassengerId  Pclass                                          Name  \
0            892       3                              Kelly, Mr. James
1            893       3              Wilkes, Mrs. James (Ellen Needs)
2            894       2                     Myles, Mr. Thomas Francis
3            895       3                              Wirz, Mr. Albert
4            896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)
..           ...     ...                                           ...
413         1305       3                            Spector, Mr. Woolf
414         1306       1                  Oliva y Ocana, Dona. Fermina
415         1307       3                  Saether, Mr. Simon Sivertsen
416         1308       3                           Ware, Mr. Frederick
417         1309       3                      Peter, Master. Michael J

        Sex   Age  SibSp  Parch              Ticket      Fare Cabin Embarked
0      male  34.5      0      0              330911    7.8292   NaN        Q
1    female  47.0      1      0              363272    7.0000   NaN        S
2      male  62.0      0      0              240276    9.6875   NaN        Q
3      male  27.0      0      0              315154    8.6625   NaN        S
4    female  22.0      1      1             3101298   12.2875   NaN        S
..      ...   ...    ...    ...                 ...       ...   ...      ...
413    male   NaN      0      0           A.5. 3236    8.0500   NaN        S
414  female  39.0      0      0            PC 17758  108.9000  C105        C
415    male  38.5      0      0  SOTON/O.Q. 3101262    7.2500   NaN        S
416    male   NaN      0      0              359309    8.0500   NaN        S
417    male   NaN      1      1                2668   22.3583   NaN        C

[418 rows x 11 columns]

In [ ]:
x_train=train.drop(['PassengerId','Survived','Name','Ticket'],axis=1)

In [ ]:
print(x_train)

     Pclass  Sex        Age  SibSp  Parch     Fare  Cabin  Embarked
0         3    1  22.000000      1      0   7.2500    147         2
1         1    0  38.000000      1      0  71.2833     81         0
2         3    0  26.000000      0      0   7.9250    147         2
3         1    0  35.000000      1      0  53.1000     55         2
4         3    1  35.000000      0      0   8.0500    147         2
..      ...  ...        ...    ...    ...      ...    ...       ...
886       2    1  27.000000      0      0  13.0000    147         2
887       1    0  19.000000      0      0  30.0000     30         2
888       3    0  29.699118      1      2  23.4500    147         2
889       1    1  26.000000      0      0  30.0000     60         0
890       3    1  32.000000      0      0   7.7500    147         1

[891 rows x 8 columns]

In [ ]:
x_train.isnull().sum()

Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Cabin       0
Embarked    0
dtype: int64

In [ ]:
x_pred=model.predict(x_train)

In [ ]:
print(x_pred)

[0 1 0 1 0 0 0 0 0 1 1 1 0 0 1 1 0 0 0 1 0 0 1 1 0 0 0 1 1 0 0 1 1 0 1 0 0
 0 0 1 0 1 0 1 1 0 0 1 0 0 0 0 1 1 1 1 1 0 1 0 0 1 1 0 0 0 1 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 1 0 1 0 0 0 1 0 0 0 0 0 0 0 1 1 1 0 0 0 1 0 0 0 0 0 0 1 1
 1 0 0 1 0 0 0 1 0 0 0 0 1 1 0 0 0 1 0 0 0 0 1 0 0 1 1 0 1 1 0 0 0 0 0 0 0
 0 0 0 1 0 0 0 1 1 0 0 0 0 1 0 0 0 0 1 0 0 0 1 0 1 0 1 0 0 1 0 0 0 0 0 0 1
 1 1 0 0 0 1 0 0 0 1 1 0 0 1 1 0 0 0 0 0 1 0 0 1 1 0 1 0 0 0 1 0 0 1 0 0 0
 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0 1 0 0 1 1 0 0 0 1 0 1 0 0 0 0 1 0 0 1 1 1 1
 1 0 0 1 1 1 0 0 0 1 1 0 0 1 1 1 1 0 0 0 0 0 0 0 0 1 0 0 0 0 1 1 1 0 0 0 0
 0 1 1 1 1 0 0 1 0 1 1 1 0 1 1 1 1 0 0 0 1 0 1 1 0 0 1 1 0 1 0 1 0 1 0 1 1
 0 1 0 1 1 0 0 0 1 0 0 0 1 1 0 0 0 0 1 0 0 0 0 1 1 1 1 0 0 1 0 0 0 1 1 1 1
 1 0 0 1 0 1 0 1 0 0 1 1 0 1 0 0 0 1 0 1 1 0 0 1 1 0 0 0 0 1 0 0 0 0 0 0 0
 0 0 0 0 0 1 0 0 0 1 1 0 1 0 0 0 0 0 0 1 1 0 0 1 0 1 0 0 1 0 0 1 0 1 0 0 1
 0 1 1 0 1 1 0 0 1 1 0 0 0 1 1 0 0 0 0 0 0 0 0 0 0 1 0 0 1 1 0 1 0 0 0 1 0
 0 0 1 1 0 1 1 0 0 0 0 1 1 0 0 1 0 1 0 0 1 1 0 1 1 1 0 0 0 0 0 0 1 0 0 1 0
 1 0 1 0 0 1 0 0 1 1 0 0 1 0 0 1 0 1 1 1 0 1 1 0 0 0 1 0 1 0 0 0 1 0 0 0 0
 0 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 0 1 1 1 0 1 1 0 1 0 1 0 1 0 0 0 1
 0 1 0 0 1 0 0 1 0 0 0 0 0 0 0 0 1 1 0 0 1 0 0 1 0 0 1 0 0 0 0 0 0 0 0 1 0
 0 1 0 1 0 0 1 0 0 0 0 0 1 0 0 1 1 0 1 0 0 0 1 0 1 1 0 0 1 0 1 1 0 0 0 0 0
 0 0 0 1 1 1 0 0 0 0 0 0 0 1 1 1 0 0 0 0 0 0 0 1 1 1 0 0 0 0 0 1 1 0 1 0 1
 0 0 0 1 0 1 0 1 1 1 0 0 0 1 1 0 0 1 0 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0 1 0 0
 0 1 1 0 0 1 0 1 0 0 1 0 0 0 1 0 0 0 0 1 0 0 0 1 0 1 1 1 0 0 0 0 1 0 1 0 0
 1 0 1 1 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 0 0 0 1 1 0 0 0 1 0 0 1 0 0 0 0
 0 1 0 0 0 0 1 0 0 1 0 0 0 0 0 1 1 0 0 0 0 1 0 0 0 1 0 0 1 0 0 0 0 0 0 1 0
 0 1 1 1 1 1 0 1 0 0 0 1 0 0 1 1 1 0 0 0 1 1 0 1 1 0 0 0 1 1 0 0 0 0 0 0 1
 0 1 0]

In [ ]:
l=[]
for i in x_pred:
  if i==0:
    l.append('dead')
  else:
    l.append('survived')
print(l)

['dead', 'survived', 'dead', 'survived', 'dead', 'dead', 'dead', 'dead', 'dead', 'survived', 'survived', 'survived', 'dead', 'dead', 'survived', 'survived', 'dead', 'dead', 'dead', 'survived', 'dead', 'dead', 'survived', 'survived', 'dead', 'dead', 'dead', 'survived', 'survived', 'dead', 'dead', 'survived', 'survived', 'dead', 'survived', 'dead', 'dead', 'dead', 'dead', 'survived', 'dead', 'survived', 'dead', 'survived', 'survived', 'dead', 'dead', 'survived', 'dead', 'dead', 'dead', 'dead', 'survived', 'survived', 'survived', 'survived', 'survived', 'dead', 'survived', 'dead', 'dead', 'survived', 'survived', 'dead', 'dead', 'dead', 'survived', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'survived', 'dead', 'survived', 'dead', 'dead', 'dead', 'survived', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'survived', 'survived', 'survived', 'dead', 'dead', 'dead', 'survived', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'survived', 'survived', 'survived', 'dead', 'dead', 'survived', 'dead', 'dead', 'dead', 'survived', 'dead', 'dead', 'dead', 'dead', 'survived', 'survived', 'dead', 'dead', 'dead', 'survived', 'dead', 'dead', 'dead', 'dead', 'survived', 'dead', 'dead', 'survived', 'survived', 'dead', 'survived', 'survived', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'survived', 'dead', 'dead', 'dead', 'survived', 'survived', 'dead', 'dead', 'dead', 'dead', 'survived', 'dead', 'dead', 'dead', 'dead', 'survived', 'dead', 'dead', 'dead', 'survived', 'dead', 'survived', 'dead', 'survived', 'dead', 'dead', 'survived', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'survived', 'survived', 'survived', 'dead', 'dead', 'dead', 'survived', 'dead', 'dead', 'dead', 'survived', 'survived', 'dead', 'dead', 'survived', 'survived', 'dead', 'dead', 'dead', 'dead', 'dead', 'survived', 'dead', 'dead', 'survived', 'survived', 'dead', 'survived', 'dead', 'dead', 'dead', 'survived', 'dead', 'dead', 'survived', 'dead', 'dead', 'dead', 'dead', 'dead', 'survived', 'dead', 'dead', 'dead', 'dead', 'dead', 'survived', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'survived', 'dead', 'dead', 'survived', 'survived', 'dead', 'dead', 'dead', 'survived', 'dead', 'survived', 'dead', 'dead', 'dead', 'dead', 'survived', 'dead', 'dead', 'survived', 'survived', 'survived', 'survived', 'survived', 'dead', 'dead', 'survived', 'survived', 'survived', 'dead', 'dead', 'dead', 'survived', 'survived', 'dead', 'dead', 'survived', 'survived', 'survived', 'survived', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'survived', 'dead', 'dead', 'dead', 'dead', 'survived', 'survived', 'survived', 'dead', 'dead', 'dead', 'dead', 'dead', 'survived', 'survived', 'survived', 'survived', 'dead', 'dead', 'survived', 'dead', 'survived', 'survived', 'survived', 'dead', 'survived', 'survived', 'survived', 'survived', 'dead', 'dead', 'dead', 'survived', 'dead', 'survived', 'survived', 'dead', 'dead', 'survived', 'survived', 'dead', 'survived', 'dead', 'survived', 'dead', 'survived', 'dead', 'survived', 'survived', 'dead', 'survived', 'dead', 'survived', 'survived', 'dead', 'dead', 'dead', 'survived', 'dead', 'dead', 'dead', 'survived', 'survived', 'dead', 'dead', 'dead', 'dead', 'survived', 'dead', 'dead', 'dead', 'dead', 'survived', 'survived', 'survived', 'survived', 'dead', 'dead', 'survived', 'dead', 'dead', 'dead', 'survived', 'survived', 'survived', 'survived', 'survived', 'dead', 'dead', 'survived', 'dead', 'survived', 'dead', 'survived', 'dead', 'dead', 'survived', 'survived', 'dead', 'survived', 'dead', 'dead', 'dead', 'survived', 'dead', 'survived', 'survived', 'dead', 'dead', 'survived', 'survived', 'dead', 'dead', 'dead', 'dead', 'survived', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'survived', 'dead', 'dead', 'dead', 'survived', 'survived', 'dead', 'survived', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'survived', 'survived', 'dead', 'dead', 'survived', 'dead', 'survived', 'dead', 'dead', 'survived', 'dead', 'dead', 'survived', 'dead', 'survived', 'dead', 'dead', 'survived', 'dead', 'survived', 'survived', 'dead', 'survived', 'survived', 'dead', 'dead', 'survived', 'survived', 'dead', 'dead', 'dead', 'survived', 'survived', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'survived', 'dead', 'dead', 'survived', 'survived', 'dead', 'survived', 'dead', 'dead', 'dead', 'survived', 'dead', 'dead', 'dead', 'survived', 'survived', 'dead', 'survived', 'survived', 'dead', 'dead', 'dead', 'dead', 'survived', 'survived', 'dead', 'dead', 'survived', 'dead', 'survived', 'dead', 'dead', 'survived', 'survived', 'dead', 'survived', 'survived', 'survived', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'survived', 'dead', 'dead', 'survived', 'dead', 'survived', 'dead', 'survived', 'dead', 'dead', 'survived', 'dead', 'dead', 'survived', 'survived', 'dead', 'dead', 'survived', 'dead', 'dead', 'survived', 'dead', 'survived', 'survived', 'survived', 'dead', 'survived', 'survived', 'dead', 'dead', 'dead', 'survived', 'dead', 'survived', 'dead', 'dead', 'dead', 'survived', 'dead', 'dead', 'dead', 'dead', 'dead', 'survived', 'survived', 'survived', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'survived', 'dead', 'survived', 'dead', 'dead', 'survived', 'survived', 'survived', 'dead', 'survived', 'survived', 'dead', 'survived', 'dead', 'survived', 'dead', 'survived', 'dead', 'dead', 'dead', 'survived', 'dead', 'survived', 'dead', 'dead', 'survived', 'dead', 'dead', 'survived', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'survived', 'survived', 'dead', 'dead', 'survived', 'dead', 'dead', 'survived', 'dead', 'dead', 'survived', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'survived', 'dead', 'dead', 'survived', 'dead', 'survived', 'dead', 'dead', 'survived', 'dead', 'dead', 'dead', 'dead', 'dead', 'survived', 'dead', 'dead', 'survived', 'survived', 'dead', 'survived', 'dead', 'dead', 'dead', 'survived', 'dead', 'survived', 'survived', 'dead', 'dead', 'survived', 'dead', 'survived', 'survived', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'survived', 'survived', 'survived', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'survived', 'survived', 'survived', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'survived', 'survived', 'survived', 'dead', 'dead', 'dead', 'dead', 'dead', 'survived', 'survived', 'dead', 'survived', 'dead', 'survived', 'dead', 'dead', 'dead', 'survived', 'dead', 'survived', 'dead', 'survived', 'survived', 'survived', 'dead', 'dead', 'dead', 'survived', 'survived', 'dead', 'dead', 'survived', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'survived', 'dead', 'dead', 'survived', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'survived', 'dead', 'dead', 'dead', 'survived', 'survived', 'dead', 'dead', 'survived', 'dead', 'survived', 'dead', 'dead', 'survived', 'dead', 'dead', 'dead', 'survived', 'dead', 'dead', 'dead', 'dead', 'survived', 'dead', 'dead', 'dead', 'survived', 'dead', 'survived', 'survived', 'survived', 'dead', 'dead', 'dead', 'dead', 'survived', 'dead', 'survived', 'dead', 'dead', 'survived', 'dead', 'survived', 'survived', 'survived', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'survived', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'survived', 'dead', 'dead', 'dead', 'dead', 'survived', 'survived', 'dead', 'dead', 'dead', 'survived', 'dead', 'dead', 'survived', 'dead', 'dead', 'dead', 'dead', 'dead', 'survived', 'dead', 'dead', 'dead', 'dead', 'survived', 'dead', 'dead', 'survived', 'dead', 'dead', 'dead', 'dead', 'dead', 'survived', 'survived', 'dead', 'dead', 'dead', 'dead', 'survived', 'dead', 'dead', 'dead', 'survived', 'dead', 'dead', 'survived', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'survived', 'dead', 'dead', 'survived', 'survived', 'survived', 'survived', 'survived', 'dead', 'survived', 'dead', 'dead', 'dead', 'survived', 'dead', 'dead', 'survived', 'survived', 'survived', 'dead', 'dead', 'dead', 'survived', 'survived', 'dead', 'survived', 'survived', 'dead', 'dead', 'dead', 'survived', 'survived', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'survived', 'dead', 'survived', 'dead']